.git
.github
.vscode
.next
.claude

scripts
node_modules

\*.tsbuildinfo
.DS_Store
.gitignore
.prettierignore

CLAUDE.md
README.md
components.json
Dockerfile
docker-compose.yml
docker-compose.production.yml

eslint.config.mjs
vitest.config.mts
prettier.config.js
