name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  checks:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install PNPM
        run: npm install -g pnpm@10.11.0

      - name: Install dependencies
        run: pnpm install
      - name: Check formatting
        run: pnpm format:check
      - name: Check linter
        run: pnpm lint
      - name: Check types
        run: pnpm types
      - name: Audit dependencies
        run: pnpm audit --audit-level=critical
